.navBar {
    width: 100%;
    height: 3rem;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    gap: 10px;
}
.navBar a{
    text-align: center;
    align-self: center;
}